{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Lobster&display=swap" rel="stylesheet">
    <style>
      body{
        background-color: #131218;
        font-family: 'Montserrat', sans-serif;
      }
    </style>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'img/logo.png' %}" width="50" height="50" class="d-inline-block" alt="">
        NewsX
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active" style="font-family: 'Acme', sans-serif;">
            <a class="nav-link" href="{% url 'home' %}">🏠Home <span class="sr-only">(current)</span></a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>-->
        </ul>
        <form action="{% url 'search' %}" class="form-inline my-2 my-lg-0" method="POST" style="font-family: 'Acme', sans-serif;">>
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="text" name="search" placeholder="e.g. corona, china, wuhan" aria-label="Search" required>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="search">Search</button>
        </form>
      </div>
    </nav>

    <!-- Page Content -->
      <div class="container" style="font-family: 'Acme', sans-serif;">

        <!-- Page Heading -->
        <h2 class="my-4 text-light text-center">🔥Top Headlines🔥
          <br>
          <small class="my-4 text-light text-center" style="font-size: 20px;">Czech Republic</small>
          <hr style="border: 10px solid #d21e1e;width: 10%;">
        </h2>

        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-business-tab" data-toggle="pill" href="#pills-business" role="tab" aria-controls="pills-business" aria-selected="false">Business</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-entertainment-tab" data-toggle="pill" href="#pills-entertainment" role="tab" aria-controls="pills-entertainment" aria-selected="false">Entertainment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-health-tab" data-toggle="pill" href="#pills-health" role="tab" aria-controls="pills-health" aria-selected="false">Health</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-science-tab" data-toggle="pill" href="#pills-science" role="tab" aria-controls="pills-science" aria-selected="false">Science</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-sports-tab" data-toggle="pill" href="#pills-sports" role="tab" aria-controls="pills-sports" aria-selected="false">Sports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-technology-tab" data-toggle="pill" href="#pills-technology" role="tab" aria-controls="pills-technology" aria-selected="false">Technology</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="row">
              {% for u, p, new, des, i in czech_list %}
              <div class="col-lg-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="{{ i }}" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="{{ u }}">{{ new }}</a>
                    </h4>
                    <p class="card-text">{{ des }}</p>
                  </div>
                </div>
              </div>
                {% endfor %}
            </div>
          </div>
          <div class="tab-pane fade" id="pills-business" role="tabpanel" aria-labelledby="pills-business-tab">
            <div class="row">
              {% for u, p, new, des, i in czech_busi_list %}
              <div class="col-lg-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="{{ i }}" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="{{ u }}">{{ new }}</a>
                    </h4>
                    <p class="card-text">{{ des }}</p>
                  </div>
                </div>
              </div>
                {% endfor %}
            </div>
          </div>
          <div class="tab-pane fade" id="pills-entertainment" role="tabpanel" aria-labelledby="pills-entertainment-tab">
            <div class="row">
              {% for u, p, new, des, i in czech_enter_list %}
              <div class="col-lg-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="{{ i }}" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="{{ u }}">{{ new }}</a>
                    </h4>
                    <p class="card-text">{{ des }}</p>
                  </div>
                </div>
              </div>
                {% endfor %}
            </div>
          </div>
          <div class="tab-pane fade" id="pills-health" role="tabpanel" aria-labelledby="pills-health-tab">
            <div class="row">
              {% for u, p, new, des, i in czech_health_list %}
              <div class="col-lg-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="{{ i }}" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="{{ u }}">{{ new }}</a>
                    </h4>
                    <p class="card-text">{{ des }}</p>
                  </div>
                </div>
              </div>
                {% endfor %}
            </div>
          </div>
          <div class="tab-pane fade" id="pills-science" role="tabpanel" aria-labelledby="pills-science-tab">
            <div class="row">
              {% for u, p, new, des, i in czech_sci_list %}
              <div class="col-lg-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="{{ i }}" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="{{ u }}">{{ new }}</a>
                    </h4>
                    <p class="card-text">{{ des }}</p>
                  </div>
                </div>
              </div>
                {% endfor %}
            </div>
          </div>
          <div class="tab-pane fade" id="pills-sports" role="tabpanel" aria-labelledby="pills-sports-tab">
            <div class="row">
              {% for u, p, new, des, i in czech_sport_list %}
              <div class="col-lg-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="{{ i }}" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="{{ u }}">{{ new }}</a>
                    </h4>
                    <p class="card-text">{{ des }}</p>
                  </div>
                </div>
              </div>
                {% endfor %}
            </div>
          </div>
          <div class="tab-pane fade" id="pills-technology" role="tabpanel" aria-labelledby="pills-technology-tab">
            <div class="row">
              {% for u, p, new, des, i in czech_tech_list %}
              <div class="col-lg-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="{{ i }}" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="{{ u }}">{{ new }}</a>
                    </h4>
                    <p class="card-text">{{ des }}</p>
                  </div>
                </div>
              </div>
                {% endfor %}
            </div>
          </div>
        </div>

        <!-- /.row -->

        <!-- Pagination -->
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
          </li>
        </ul>

      </div>
      <!-- /.container -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
